In [35]:
import pandas as pd 

data = pd.read_csv("../data/MLdata.csv")
data["Ship Date"] = pd.to_datetime(data["Ship Date"])
data["Order Date"] = pd.to_datetime(data["Order Date"])
data.head()

  Order Priority Market    Segment  ... Discount Shipping Cost    Profit
0       Critical     US   Consumer  ...      0.0        933.57  762.1850
1       Critical     US   Consumer  ...      0.4        348.18 -290.8750
2       Critical     US   Consumer  ...      0.0          7.24    9.3312
3       Critical   APAC  Corporate  ...      0.1         65.35   34.4220
4       Critical   APAC  Corporate  ...      0.1         41.64   -6.0300

[5 rows x 16 columns]

In [13]:
from sklearn.model_selection import train_test_split

x_profit = data.drop(["Profit"], axis=1)
y_profit = data["Profit"]

xp_train, xp_test, yp_train, yp_test = train_test_split(x_profit, y_profit, test_size=0.2, random_state=42)

In [20]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder

ct = ColumnTransformer([
    ("onehot", OneHotEncoder(), ['Order Priority', 'Market', 'Segment', 'Category', 'Sub-Category', 'City', 'Country', 'Region', 'State', 'Ship Mode']),
])

data["Ship Date"]

0        2011-04-05 00:00:00
1        2011-04-05 00:00:00
2        2011-09-20 00:00:00
3        2011-09-20 00:00:00
4        2012-10-07 00:00:00
                ...
49665    2012-08-22 00:00:00
49666    2012-12-03 00:00:00
49667    2013-04-29 00:00:00
49668    2014-06-21 00:00:00
49669    2013-05-10 00:00:00
Name: Ship Date, Length: 49670, dtype: object